<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <meta-data
      android:name="HERE_ACCESS_KEY_ID"
      android:value="${hereAccessKeyId}" />
    <meta-data
      android:name="HERE_ACCESS_KEY_SECRET"
      android:value="${hereAccessKeySecret}" />
  </application>
</manifest>
